@font-face {
  font-family: "Cubano";
  src: url("/assets/fonts/Cubano.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Stellt sicher, dass der Font geladen wird */
}

/* Wendet Cubano auf ALLES an */
* {
  font-family: "Cubano", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}
